<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ settings:site_name }} &raquo; {{ template:title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        {{ theme:css file="bootstrap.min.css" }}
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        {{ theme:css file="bootstrap-responsive.min.css" }}
        {{ theme:css file="main.css" }}
        {{ theme:js file="vendor/modernizr-2.6.2-respond-1.1.0.min.js" }}

        <!-- Include MetaData and Analytics Tracking-->
        {{ theme:favicon }}
        {{ template:metadata }}
        {{ integration:analytics }}
    </head>
    <body>
        {{ theme:partial name="header" }}

        <div class="container-fluid">
            {{ theme:partial name="main" }}
            
            {{ theme:partial name="footer" }}
        </div> <!-- /container -->

        <!-- Removed External JQuery API until safely can implement fallback-->
        {{ theme:js file="vendor/jquery-1.9.1.min.js" }}
        {{ theme:js file="vendor/bootstrap.min.js" }}
        {{ theme:js file="main.js" }}
    </body>
</html>
